<!-- <p>editor-container works!</p> -->
<div class="editor-container" (blur)="blur()">
    <div class="editable-block" 
        contenteditable="true" [class.bottom]="toolbarPlacement === 'bottom'" [class.top]="toolbarPlacement === 'top'"
        [id]="id"
        (input)="setValue($event)" 
        (paste)="onPaste($event)"
        [mentionConfig]="mentionConfig"
        (closed)="mentionClosed()"
        [attr.placeholder]="placeholder">
    </div>
    <div class="editor-tools" [class.bottom]="toolbarPlacement === 'bottom'" [class.top]="toolbarPlacement === 'top'">
        <app-editor-menu
        (linkInEditor)="saveLink($event)"
        (imgInEditor)="saveImage($event)" 
        (sendSavedFiles)="saveFiles($event)"
        (buttonClick)="toolbarClicked($event)"
        [toolbarConfig]="toolbarConfig" [editorConfig]="editorConfig"
        ></app-editor-menu>
    </div>
</div>


