<div id="mention-div" style="position: relative;">
<ul id="mentiion-item-list">

</ul>
</div>
<div class="editor-container" (blur)="blur()" #editorContainer>
    <div class="editable-block" contenteditable="true"
        [class.bottom]="!editorConfig?.toolbarPlacement || editorConfig?.toolbarPlacement === 'bottom'"
        [class.top]="editorConfig?.toolbarPlacement === 'top'" [id]="editorConfig?.id" (input)="setValue($event.target.innerText)"
        (paste)="onPaste($event)" (myopen)="myopen($event)" [mentionConfig]="mentionConfig"  (closed)="mentionClosed()" (blur)="blurContentEditable()"
        [attr.placeholder]="editorConfig?.placeholder" [class.collapsible]="editorConfig?.isCollapsible" [class.active]="isCollapsible"
         [config]="editorConfig?.mentions"
        >
    </div>
    <div class="editor-tools"
        [class.bottom]="!editorConfig?.toolbarPlacement || editorConfig?.toolbarPlacement === 'bottom'"
        [class.top]="editorConfig?.toolbarPlacement === 'top'">
        <app-editor-menu (linkInEditor)="toolbarClicked($event)" (imageInEditor)="saveImage($event)"
            (sendSavedFiles)="saveFiles($event)" (buttonClick)="toolbarClicked($event)" [toolbarConfig]="toolbarConfig"
            [editorConfig]="editorConfig" [moreOptionsButton]="moreOptionsButton" (setWidth)="getMenuWidth($event)" ></app-editor-menu>
    </div>
</div>