.editor-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 2px;
  border: 1px solid #f1f1f1;
  .editable-block {
    display: block;
    outline: none;
    min-height: 150px;
    padding: 25px;
    border: 1px solid #f1f1f1;
    border-radius: 2px 2px 0 0;
    border-bottom: transparent;
    width: 100%;
    &:hover,
    &:focus {
      // box-shadow: 0 0 0 0;
      outline: none;
      border-color: #1e5dd3;
      box-shadow: 0 0 5px rgba(30, 93, 211, 0.27);
      & + .editor-tools {
        box-shadow: 0 0 5px rgba(30, 93, 211, 0.27);
      }
    }
    &.top {
      order: 2;
    }
    &.bottom {
      order: 1;
    }
    .image-resize {
      max-width: 100%;
      display: inline-block;
      resize: both;
      border: 2px solid #f1f1f1;
      overflow: hidden;
      &:focus, &:active {
        border-color: #1e5dd3;
      }
      img {
        width: 100%;
      }
    }
  }
  .editor-tools {
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    border-top: 1px solid #f1f1f1;
    border-radius: 2px;
    width: 100%;
    padding: 5px;
    app-editor-menu {
      display: block;
      width: 100%;
    }
    &.top {
      order: 1;
    }
    &.bottom {
      order: 2;
    }
  }
}

#LinkInEditor
{
  padding: 20px 20px 20px 20px;
  border: 1px solid black;
}




