<!-- <p>editor-container works!</p> -->
<div class="editor-container">
    <div class="editable-block" 
        contenteditable="true" [class.bottom]="toolbarPlacement === 'bottom'" [class.top]="toolbarPlacement === 'top'"
        [id]="id"
        (input)="setValue($event)" 
        (blur)="blur()"
        (paste)="onPaste($event)"
        [mentionConfig]="mentionConfig"
        (closed)="mentionClosed()"
        [attr.placeholder]="placeholder">
      jergoerg
    </div>
    <div class="editor-tools" [class.bottom]="toolbarPlacement === 'bottom'" [class.top]="toolbarPlacement === 'top'">
        <app-editor-menu (imgInEditor)="saveImg($event)"   (sendSavedFiles)="filesSaved($event)" [editorConfig]="editorConfig" (buttonClick)="toolbarClicked($event)" [toolbarConfig]="toolbarConfig" [multiple]="multiple"></app-editor-menu>
    </div>
</div>


