.editor-container {
    display: block;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #F1F1F1;
    .editable-block {
        display: block;
        outline: none;
        min-height: 200px;
    }
    .editor-tools {
        display: flex;
        flex-wrap: wrap;
        background: #FFFFFF;
        border: 1px solid #f1f1f1;
        border-radius: 2px;
    }
}