<!-- <p>emoji works!</p> -->

<div class="emoji-types">
    <button  [class.active]="recentEmoji" *ngIf="recentEmojiPos.length>0" (click)="show_area('recent')" id="recently-used-emoji">Recently Used</button>
    <button class="emoji-btn" [class.active]="peopleEmoji" (click)="show_area('ppl')" id="people-emoji">People</button>
    <button class="emoji-btn" [class.active]="animalEmoji" (click)="show_area('animals')" id="animal-emoji">Animals</button>
    <button class="emoji-btn" [class.active]="foodEmoji" (click)="show_area('food')" id="food-emoji">Food and Drinks</button>
    <button class="emoji-btn" [class.active]="travelEmoji" (click)="show_area('travel')" id="food-emoji">Travel</button>
    <button class="emoji-btn" [class.active]="acitiviyEmoji" (click)="show_area('activity')" id="food-emoji">activity</button>
    <button class="emoji-btn" [class.active]="objectEmoji" (click)="show_area('objects')" id="object-emoji">objects</button>
    <button class="emoji-btn" [class.active]="symbolEmoji" (click)="show_area('symbols')" id="object-emoji">symbols</button>
    <button class="emoji-btn" [class.active]="flagEmoji" (click)="show_area('flags')" id="flag-emoji">flags</button>
</div>
<div>
    <input id="search-emoji" placeholder="Search Emoji"   [(ngModel)]="searchEmoji">
</div>
<div class="emoji-area" (scroll)="scroll($event)" id="emoji-area">
    <div id="recent" class="recent  " *ngIf="recentEmojiPos.length>0 && searchEmoji===''" >
        <h4 >Mostly Used</h4>
        <div *ngFor="let recent of recentEmojiPos"   class=" {{recent}}" (click)="show_emoji_in_editor($event)"></div>
    </div>
    <div id="ppl" class="people scroll-element" >
        <h4 *ngIf="searchEmoji===''">smileys & people</h4>
        <div *ngFor="let p of ppl | emoji:searchEmoji"   class="emoji-icon {{p.className}}" (click)="show_emoji_in_editor($event)"></div>
    </div>
    <div id="animals" class="animal scroll-element"  >
       <h4 *ngIf="searchEmoji===''">animals and nature</h4> 
       <div *ngFor="let a of animals |  emoji:searchEmoji"   class="emoji-icon {{a.className}}"  (click)="show_emoji_in_editor($event)"></div>
    </div>
    <div id="food" class="food_drinks scroll-element" >
        <h4 *ngIf="searchEmoji===''">Food and Drinks</h4>
        <div *ngFor="let f of food |  emoji:searchEmoji"   class="emoji-icon {{f.className}}"  (click)="show_emoji_in_editor($event)"></div>
    </div>
    <div id="travel" class="travel scroll-element" >
        <h4 *ngIf="searchEmoji===''">Travel and Places</h4>
        <div *ngFor="let t of travel |  emoji:searchEmoji"   class="emoji-icon {{t.className}}"  (click)="show_emoji_in_editor($event)"></div>
    </div>
    <div id="activity" class="activity scroll-element" >
        <h4 *ngIf="searchEmoji===''">sports and activities</h4>
        <div *ngFor="let a of activity |  emoji:searchEmoji"   class="emoji-icon {{a.className}}"  (click)="show_emoji_in_editor($event)"></div>
    </div>
    <div id="objects" class="objects scroll-element" >
        <h4 *ngIf="searchEmoji===''">objects</h4>
        <div *ngFor="let o of objects |  emoji:searchEmoji"   class="emoji-icon {{o.className}}"  (click)="show_emoji_in_editor($event)"></div>
    </div>
    <div id="symbols" class="symbols scroll-element" >
        <h4 *ngIf="searchEmoji===''">symbols</h4>
        <div *ngFor="let s of symbols |  emoji:searchEmoji"   class="emoji-icon {{s.className}}"  (click)="show_emoji_in_editor($event)"></div>
    </div>
    <div id="flags" class="flags scroll-element" >
        <h4 *ngIf="searchEmoji===''">objects</h4>
        <div *ngFor="let f of flag |  emoji:searchEmoji"   class="emoji-icon {{f.className}}"  (click)="show_emoji_in_editor($event)"></div>
    </div>
</div>
<div id="showEmoji">

</div>

