.emoji-icon {
    // background: url('./assets/images/sprite-20.png');
    display: inline-block;
    cursor: pointer;
    background-image: url(../../../assets/images/sprite-20.png);
    height: 20px;
    width: 20px;
    margin: 5px 5px 5px 5px ;
    &.p1 {
        background-position: 0 0;
    }
    &.p2
    {
        background-position: -700px -60px;   
    }
    &.p3
    {
        background-position: -700px -80px;
    }
    &.p4
    {
        background-position: -780px -120px;
    }
    &.p5
    {
        background-position: -700px -100px;
    }
    &.p6
    {
        background-position: -700px -120px;
    }
    &.p7
    {
        background-position: -700px -140px;
    }
    &.p9
    {
        background-position:  -760px -440px;
    }
    &.p8
    {
        background-position: -700px -160px;
    }
    &.p10
    {
        background-position: -700px -180px;
    }
    &.p11
    {
        background-position: -700px -200px;
    }
    &.p12
    {
        background-position: -700px -220px;
    }
    &.p13
    {
        background-position: -700px -240px;
    }
    &.p14
    {
        background-position: -700px -260px;
    }
    &.p15
    {
        background-position: -700px -280px;
    }
    &.p16
    {
        background-position: -700px -300px;
    }
    &.p17
    {
        background-position: -700px -320px;
    }
    &.p18
    {
        background-position: -700px -340px;
    }
    &.p19
    {
        background-position: -700px -360px;
    }
    &.p20
    {
        background-position: -700px -380px;
    }
    &.p21
    {
        background-position: -700px -400px;
    }
    &.p22
    {
        background-position: -700px -420px;
    }
    &.p23
    {
        background-position: -700px -440px;
    }
    &.p24
    {
        background-position: -700px -460px;
    }
    &.p25
    {
        background-position: -700px -480px;
    }
    &.p26
    {
        background-position: -700px -500px;
    }
    &.p27
    {
        background-position: -700px -520px;
    }
    &.p28
    {
        background-position: -700px -540px;
    }
    &.p29
    {
        background-position: -700px -560px;
    }
    &.p30
    {
        background-position: -700px -580px;
    }
    &.p31
    {
        background-position: -700px -600px;
    }
    &.p32
    {
        background-position: -700px -620px;
    }
    &.p33
    {
        background-position: -700px -640px;
    }
    &.p34
    {
        background-position: -700px -660px;
    }
    &.p35
    {
        background-position: -700px -680px;
    }
    &.p36
    {
        background-position: -700px -700px;
    }
    &.p37
    {
        background-position: -700px -760px;
    }
    &.p38
    {
        background-position: 0  -700px;
    }
    &.p39
    {
        background-position: -40px -700px;
    }
    &.p40
    {
        background-position: -60px -700px;
    }
    &.p41
    {
        background-position: -80px -700px;
    }
    &.p42
    {
        background-position: -100px -700px;
    }
    &.p43
    {
        background-position: -120px -700px;
    }
    &.p43
    {
        background-position: -140px -700px;
    }
    &.p44
    {
        background-position: -160px -700px;
    }

    &.p45
    {
        background-position: -180px -700px;
    }
    &.p46
    {
        background-position: 200px -700px;
    }

    &.p47
    {
        background-position: -760px -460px;
    }
      &.p48
    {
        background-position: -240px -700px;
    }
    &.p49
    {
        background-position: -760px -480px;
    }
    &.p50
    {
        background-position: -260px -700px;
    }
    &.p50
    {
        background-position: -260px -700px;
    }
    &.p51
    {
        background-position: -760px -500px;
    }
    &.p52
    {
        background-position: -280px -700px;
    }
    &.p53
    {
        background-position: -300px -700px;
    }
    &.p54
    {
        background-position: -760px -520px;
    }
    &.p55
    {
        background-position: -320px -700px;
    }
    &.p56
    {
        background-position: -340px -700px;
    }
    &.p57
    {
        background-position: -360px -700px;
    }
    &.p58
    {
        background-position: -380px -700px;
    }
    &.p59
    {
        background-position: -400px -700px;
    }
    &.p60
    {
        background-position: -420px -700px;
    }
    &.p61
    {
        background-position: -760px -540px;
    }
    &.p62
    {
        background-position: -440px -700px;
    }
    &.p63
    {
        background-position: -760px -560px;
    }
    &.p64
    {
        background-position: -460px -700px;
    }
    &.p65
    {
        background-position: -480px -700px;
    }
    &.p66
    {
        background-position: -500px -700px;
    }
    &.p67
    {
        background-position: -520px -700px;
    }
    &.p68
    {
        background-position: -540px -700px;
    }
    &.p69
    {
        background-position: -560px -700px;
    }
    &.p70
    {
        background-position: -580px -700px;
    }
    &.p71
    {
        background-position: -600px -700px;
    }
    &.p73
    {
        background-position: -640px -700px;
    }
    &.p74
    {
        background-position: -640px -700px;
    }
    &.p75
    {
        background-position: -540px -100px;
    }
    &.p76
    {
        background-position: -540px -220px;
    }
    &.p77
    {
        background-position: -540px -340px;
    }
    &.p78
    {
        background-position: -540px -460px;
    }
    &.p79
    {
        background-position: -540px -520px;
    }
    &.p80
    {
        background-position: -520px -520px;
    }
    &.p81
    {
        background-position: -400px -520px;
    }
    &.p82
    {
        background-position: -280px -520px;
    }
    &.p83
    {
        background-position: -160px -520px;
    }
    &.p84
    {
        background-position: -40px -520px;
    }
    &.p85
    {
        background-position: -620px -420px;
    }
    &.p86
    {
        background-position: -840px -220px;
    }
    &.p87
    {
        background-position: -840px -340px;
    }
    &.p88
    {
        background-position: -840px -460px;
    }
    &.p88
    {
        background-position: -840px -580px;
    }
    &.p89
    {
        background-position: -820px -260px;
    }
    &.p90
    {
        background-position: -760px -680px;
    }
    &.p91
    {
        background-position: -720px -660px;
    }
    &.p92
    {
        background-position: -680px -660px;
    }
    &.p93
    {
        background-position: -100px -680px;
    }
    &.p94
    {
        background-position: -220px -680px;
    }
    &.p94
    {
        background-position: -40px -760px;
    }



    /* ANIMALS  */
    &.a1
    {
        background-position: -500px 0;
    }
    &.a2
    {
        background-position: -500px -20px;
    }
    &.a3
    {
        background-position: -500px -40px;
    }
    &.a4
    {
        background-position: -500px -60px;
    }
    &.a5
    {
        background-position: -500px -80px;
    }
    &.a6
    {
        background-position: -500px -100px;
    }
    &.a7
    {
        background-position: -500px -120px;
    }
    &.a8
    {
        background-position: -500px -140px;
    }
    &.a9
    {
        background-position: -500px -160px;
    }
    &.a9
    {
        background-position: -500px -180px;
    }
    &.a10
    {
        background-position: -500px -200px;
    }
    &.a11
    {
        background-position: -500px -220px;
    }
    &.a12
    {
        background-position: -500px -240px;
    }

    &.a13
    {
        background-position: -500px -260px;
    }
    &.a15
    {
        background-position: -500px 280px;
    } &.a16
    {
        background-position: -500px -300px;
    } &.a17
    {
        background-position: -500px -320px;
    } &.a18
    {
        background-position: -500px -340px;
    } &.a19
    {
        background-position: -500px -360px;
    } &.a20
    {
        background-position: -500px -380px;
    } &.a21
    {
        background-position: -500px -400px;
    } &.a22
    {
        background-position: -500px -420px;
    } &.a23
    {
        background-position: -500px -440px;
    } &.a24
    {
        background-position: -500px -460px;
    } &.a25
    {
        background-position: -500px -480px;
    } &.a26
    {
        background-position: -500px -500px;
    } &.a27
    {
        background-position: -480px -500px;
    } &.a28
    {
        background-position: -460px -500px;
    } &.a29
    {
        background-position: -440px -500px;
    } &.a30
    {
        background-position: -420px -500px;
    } &.a31
    {
        background-position: -400px -500px;
    } &.a32
    {
        background-position: -380px -500px;
    } &.a33
    {
        background-position: -360px -500px;
    } &.a34
    {
        background-position: -340px -500px;
    } &.a35
    {
        background-position: -320px -500px;
    } &.a36
    {
        background-position: -300px -500px;
    }
    &.a36
    {
        background-position: -300px -500px;
    }
    &.a36
    {
        background-position: -300px -500px;
    }
    &.a36
    {
        background-position: -300px -500px;
    }
    &.a36
    {
        background-position: -300px -500px;
    }
    &.a36
    {
        background-position: -300px -500px;
    }
    &.a36
    {
        background-position: -300px -500px;
    }
    &.a36
    {
        background-position: -300px -500px;
    }

    &.a37
    {
        background-position: -280px -500px;
    }&.a38
    {
        background-position: -260px -500px;
    }&.a39
    {
        background-position: -240px -500px;
    }&.a40
    {
        background-position: -220px -500px;
    }&.a41
    {
        background-position: -200px -500px;
    }&.a42
    {
        background-position: -180px -500px;
    }&.a43
    {
        background-position: -160px -500px;
    }&.a44
    {
        background-position: -140px -500px;
    }&.a45
    {
        background-position: -120px -500px;
    }&.a46
    {
        background-position: -100px -500px;
    }&.a47
    {
        background-position: -80px -500px;
    }&.a48
    {
        background-position: -60px -500px;
    }
    &.a49
    {
        background-position: -40px -500px;
    }
    &.a50
    {
        background-position: -20px -500px;
    }
    &.a51
    {
        background-position: 0 -500px;
    }
    &.a52
    {
        background-position: -400px -500px;
    }
    &.a53
    {
        background-position: -380px -500px;
    }
    &.a54
    {
        background-position: -360px -500px;
    }
    &.a55
    {
        background-position: -340px -500px;
    }
    &.a56
    {
        background-position: -320px -500px;
    }
    &.a57
    {
        background-position: -300px -500px;
    }&.a58
    {
        background-position: -280px -500px;
    }
    &.a59
    {
        background-position: -260px -500px;
    }
    &.a60
    {
        background-position: -240px -500px;
    }
    &.a61
    {
        background-position: -220px -500px;
    }
    &.a62
    {
        background-position: -200px -500px;
    }
    &.a63
    {
        background-position: -180px -500px;
    }
    &.a64
    {
        background-position: -160px -500px;
    }
    &.a65
    {
        background-position: -140px -500px;
    }
    &.a66
    {
        background-position: -120px -500px;
    }
    &.a67
    {
        background-position: -100px -500px;
    }
    &.a68
    {
        background-position: -80px -500px;
    }
    &.a69
    {
        background-position: -60px -500px;
    }
    &.a70
    {
        background-position: -40px -500px;
    }
    &.a71
    {
        background-position: -20px -500px;
    }
    &.a72
    {
        background-position: 0 -500px;
    }

    &.f1
    {
        background-position: 0 -500px;
    }
}

.emoji-types
{
    padding-bottom: 20px;
    overflow-x: scroll;
    display: flex;
    margin: 0 -5px;
    button {
        width: auto;
        display: inline-block;
        margin:0px 5px;
        white-space: nowrap;
        border-bottom: 2px solid transparent;
        padding: 10px 10px 10px 10px;
        // outline: 0px solid white;
        // background-color: none;
        &.active {
            border-color: #1e5dd3;
        }
    }
}

.emoji-area
{
    margin-top:10px;
    height: 200px;
    padding: 20px 20px 20px 20px;
    overflow-y: scroll;
    background-color: aqua;
}
#emoji_data
{
    // background-image: url(../../../assets/images/sprite-20.png);
    height: 20px;
    width: 20px;

}
#showEmoji
{
    margin-top: 50px;
}