<!-- <p>emoji works!</p> -->

<div class="emoji-types">
    <button [class.active]="recentlyUsed" (click)="show_area('R')" id="recently-used-emoji">Recently Used</button>
    <button [class.active]="peopleEmoji" (click)="show_area('ppl')" id="people-emoji">People</button>
    <button [class.active]="animalEmoji" (click)="show_area('animals')" id="animal-emoji">Animals</button>
    <button [class.active]="foodEmoji" (click)="show_area('food')" id="animal-emoji">Food and Drinks</button>
</div>
<div class="emoji-area">
    <div class="recent" *ngIf="recentlyUsed">
       
    </div>
    <div id="ppl" class="people" >
        <h4>smileys & people</h4>
        <div *ngFor="let p of ppl"   class="emoji-icon {{p.className}}"></div>
    </div>
    <div id="animals" class=animal >
       <h4>animals and nature</h4> 
       <div *ngFor="let a of animals"   class="emoji-icon {{a.className}}"></div>
    </div>
    <div id="food" class="food_drinks">
        <h4>Food and Drinks</h4>
    </div>
</div>

