<br><br>
<br><br>

<div *ngFor="let fileObj of filesFromChild">
    {{fileObj.file.name}} - {{fileObj.extension}}
</div>
<!--  [(ngModel)]="modelvalue1" [editorConfig]="editorConfig1"  (sendSavedFiles)="filesSaved($event)" (comment)="comment($event)" -->
<!-- {{editorConfig1 | json}}
<app-editor-container 
    [(ngModel)]="modelvalue2" 
    [editorConfig]="editorConfig1"  
    (sendSavedFiles)="filesSaved($event)" 
    (comment)="comment($event)"></app-editor-container> 
<br><br> -->
<!-- {{modelvalue1}} -->
<br><br>
<br><br>
<br><br> 
<br><br>
<app-editor-container 
    
    (ngModelChange)="modelChange1($event)"
    [editorConfig]="editorConfig1"  
    (sendSavedFiles)="filesSaved($event)" 
    (comment)="comment($event)"></app-editor-container> 
<!-- [(ngModel)]="modelvalue1" -->

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<!--  [editorConfig]="editorConfig2"  (sendSavedFiles)="filesSaved($event)" -->
<!-- <marx-editor [(ngModel)]="modelvalue2"  [editorConfig]="editorConfig1" (comment)="comment($event)"></marx-editor> -->
<!-- <app-editor-container [(ngModel)]="modelvalue2" [editorConfig]="editorConfig2"  (sendSavedFiles)="filesSaved($event)" (comment)="comment($event)"></app-editor-container> -->
<br><br>
<br><br>
<br><br>
<br><br><br><br>
{{modelvalue2}}
<br><br>




