<!-- <router-outlet></router-outlet> -->

<br>
<!-- {{modelvalue}} -->
<!-- <lib-minieditor [(ngModel)]="modelvalue" [value]="defValue" [file]="true" [mentionedNames]="[1,1,1,1,1,1]" [mentionedDates]="[1,1,1,1,1,1,1]" [buttonName]="'Hi Alec'"></lib-minieditor> -->
<br>
<br><br>

<div  id="fileList" *ngFor="let files of filesFromChild">
    {{files.name}}
</div>

<app-editor-container [(ngModel)]="modelvalue" [editorConfig]="editorConfig"  (sendSavedFiles)="filesSaved($event)" ></app-editor-container>
<br><br>

{{modelvalue}}



