<!-- <p>color-palette works!</p> -->
<div class="color-palette">
    <div class="colors">
        <input type="radio" name="color"><span class="red"></span>
    </div>
    <div class="colors">
        <input type="radio" name="color"><span class="orange"></span>
    </div>
    <div class="colors">
        <input type="radio" name="color"><span class="yellow"></span>
    </div>
    <div class="colors">
        <input type="radio" name="color"><span class="purple"></span>
    </div>
    <div class="colors">
        <input type="radio" name="color"><span class="teal"></span>
    </div>
    <div class="colors">
        <input type="radio" name="color"><span class="green"></span>
    </div>
    <div class="colors">
        <input type="radio" name="color"><span class="grey"></span>
    </div>
    <div class="colors">
        <input type="radio" name="color"><span class="black"></span>
    </div>
    <div class="colors">
        <input type="radio" name="color"><span class="white"></span>
    </div>
</div>
